<!--
  Generated template for the MorphlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      <h3 *ngIf="!displaySpinner">
        <br>
        So, What are we having today?
        <br>
        <br>
        <br>
      </h3>
    </div>
  </div>
	<!-- <ion-list>
		<ion-item-sliding >
			<button ion-item *ngFor="let outlet of outlets" (click)="openPage(outlet)">
				<ion-avatar item-start>
					<img [src]="outlet.image" />
				</ion-avatar>
				<h2>{{outlet.name}}</h2>
				<p>{{outlet.subtext}}</p>
        <hr>
			</button>
		</ion-item-sliding>
	</ion-list> -->
  <ion-spinner color="dark" style="width:100%; margin-top:20%;" *ngIf="displaySpinner"></ion-spinner>
  <ion-slides *ngIf="!displaySpinner" effect="slide" spaceBetween="50px" slidesPerView="1.5" style="height:300px; width:80%; margin-left:10%;">
    <ion-slide style="overflow:hidden;" *ngFor="let outlet of outlets" (click)="openPage(outlet)">
        <ion-avatar class="darken-overlay">
          <div class="darken-overlay">
            <img [src]="outlet.image" />
          </div>
        </ion-avatar>
        <h2>{{outlet.name}}</h2>
        <p>{{outlet.subtext}}</p>
    </ion-slide>
    <ion-slide style="overflow:hidden;">

    </ion-slide>
  </ion-slides>
</ion-content>
