<!-- Generated template for the AccordionComponent component -->

<ion-card  style="padding-bottom:0;">
  <div class="menucard-img" (click)="toggleCard()">
    <img src="{{ image }}">
    <!-- <p>{{ image }}</p> -->
    <div class="menucard-price">  {{ price }}</div>
  </div>
  <ion-card-header >
    <div class="item-name" (click)="toggleCard()">{{ name }}</div>
    <div style="float:right;">
      <ng-content select="[addButton]"></ng-content>
    </div>
  </ion-card-header>
  <ion-card-content class="item-description" (click)="toggleCard()">
    {{ description }}
  </ion-card-content>

  <ion-card-content #cc class="hiddenContent" style="padding-top:0px; padding-bottom:0px;">
    <div style="width:100%;overflow:none; text-align:center;">
      <h3>Customize</h3>
    </div>
    <div style="padding-bottom:1em;">
      <ng-content select="[body]"></ng-content>
    </div>
  </ion-card-content>
</ion-card>
