<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>

  <ion-slides autoplay="3000" loop="true" speed="1000" style="max-height:250px;padding-top:0px;">
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image"/>
    </ion-slide>
  </ion-slides>

  <div>
    <ion-segment [(ngModel)]="menuTabs" #myMenuTab >
      <ion-segment-button value="menu1">
        Menu1
      </ion-segment-button>
      <ion-segment-button value="menu2">
        Menu2
      </ion-segment-button>
      <ion-segment-button value="menu3">
        Menu3
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="menuTabs">
    <div *ngSwitchCase="'menu1'">
      <accordion *ngFor="let item of items"
              image="{{item.menuImage}}" name="{{item.name}}" price="{{item.price}}" description="{{item.description}}" btnColor="{{themeColor}}">
      </accordion>
    </div>
    <div *ngSwitchCase="'menu2'">
      <accordion *ngFor="let item of items"
              image="{{item.menuImage}}" name="{{item.name}}" price="{{item.price}}" description="{{item.description}}" btnColor="{{themeColor}}">
      </accordion>
    </div>
    <div *ngSwitchCase="'menu3'">
      <accordion *ngFor="let item of items"
              image="{{item.menuImage}}" name="{{item.name}}" price="{{item.price}}" description="{{item.description}}" btnColor="{{themeColor}}">
      </accordion>
    </div>
  </div>

  <ion-fab right bottom >
    <button  #cartButton ion-fab (click) = "reviewOrder()"><ion-icon name="cart"></ion-icon></button>
    <!-- <ion-fab-list side="top">
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
    </ion-fab-list> -->
  </ion-fab>
  <ion-content>
</ion-content>
