page-menu {
  ion-card-content{
    // border: 3px solid #000;
  }
  ion-card-header{
    border: 3px solid #000;
  }
  .menucard-img{
    position: relative;
    min-height: 2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }
  .menucard-price {
    position: absolute;
    background: transparent;
    bottom: 0.2em;
    left:1em;
  }

  .menucard-customOps {
    border: 3px solid #555;
    overflow: hidden;
  }

  @-webkit-keyframes slideIn {
    0% {
      max-height: 0;
      -webkit-transform: translate3d(0,-100%,0);
    }
    100% {
      max-height: 100%;
      -webkit-transform: translate3d(0,0,0);
    }
  }


  .slide-in{
     -webkit-animation: slideIn ease-in 1;
    animation: slideIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
  }

  .wrap-collabsible {
    margin-bottom: 1.2rem 0;
    overflow: auto;
  }

  input[type='checkbox'] {
    display: none;
  }

  .lbl-toggle {
    display: block;
    font-family: monospace;
    font-size: 1.5em;
    text-align: right;
    cursor: pointer;
    transition: all 0.25s ease-out;
    float: right;
  }


  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
  }

  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }

  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
  }

  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
  }

  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .collapsible-content .content-inner {
    border-bottom: 1px solid transparent;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
  }
  .cardContentWrapper{
    position: relative;

  }
  .left_description{
    // position: absolute;
    width: 70%;
    border: 2px solid #000;
    float: left;
  }
  .right_description{
    // position: absolute;
    width: 30%;
    border: 2px solid #000;
    float: right;
  }
  .description-wrapper{
    border: 3px solid #000;
  }
  .customization{
    margin-top: 0px;
    color: #000;
    border: 3px solid #555;
  }
  .slide-image {
    max-height: 100%;
    max-width: 100%;
    margin: 1.1em 0;
  }
}
