page-menu {
  @font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/Popins-Thin.ttf) format("ttf");
  }
  body, div, h1, h2, h3, h4 , p {
      font-family: Poppins-Light !important;
  }

  .thisbg{
    position: relative;
    background: url('../../assets/imgs/thebg.jpg') no-repeat transparent;
    background-size: cover;
    height: 45%;
    z-index: 1;
    background-repeat: repeat;
  }
  ion-slides{
    // border : 2px solid #000;
  }
  .slide-image{
    display : inline-block;
    margin: 0 auto;
    vertical-align: middle;
    height: 100%;
    object-fit: cover;
  }
  /* Style the tab */
  .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
  }

  /* Style the buttons that are used to open the tab content */
  .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
      background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
      background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
  }
  //
  // #cart-btn{
  //   border : 3px solid #000;
  //   // position: relative;
  //   z-index: -100;
  //   overflow: auto;
  // }

  #cart-badge{
    position: absolute;
    top: 0px;
    right : 0px;
    z-index : 100;

  }

}
